*{
    margin: 0;
    padding: 0;
}

#headerApp{
color: black;
background-color: lightblue;
}

#navId{
    color: black;
    background-color: lightblue;
    }
    
#footerStyle{
color: brown;
background-color: blanchedalmond;
}

.count-none{
    display: none;
}